/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

outputDir = "results"
profiles {
    apptainer {
        apptainer {
            enabled      = true
            autoMounts   = true
            pullTimeout  = 20.min
        }
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}